.container {
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;

  > h1 {
    text-align: center;
    flex: 1;
    font-size: var(--font-xlarge);

    background: -webkit-linear-gradient(#67b6ff, #ffffff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.sections {
  display: flex;
  gap: 36px;
  justify-content: space-between;
  height: calc(100% - 250px);
  margin-top: 60px;
}

@media (max-width: 1024px) {
  .sections {
    flex-direction: column;
  }
}
