@import url("./tokens.css");

@font-face {
  font-family: "MouseMemoirs";
  src: url("./assets/fonts/MouseMemoirs-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "MouseMemoirs";
}
